<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta charset="utf-8">
        <title></title>
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <link rel="stylesheet" href="style.css" type="text/css" />
        <script src="jquery.min.js" type="text/javascript"></script>
        <script src="app.js" type="text/javascript"></script>
    </head>
    
    <body>
        <h1>edwoard</h1>
        <div id="panel">
            <div id="rails"></div>
            <div id="tracer">
                <a href="#" id="left_handler">Left</a>
                <a href="#" id="right_handler">Right</a>
            </div>
        </div>
    </body>

</html>